{
  "presets": ["@babel/env", "next/babel"],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "regenerator": false
      }
    ],
    "@babel/plugin-proposal-object-rest-spread"
  ]
}
